*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    color: black;
}

header{
    height: 100%;
    background-color: black;
}

header h1{
    text-align: center;
    font-size: 3rem;
    color: white;
}

body{
    background-color: #252424;
}

.passBox{
    width: min-content;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

.passBoxCard{
    width: 100%;
    background-image: url("./assets/pngtree-vibrant-yellow-abstract-background-with-textured-white-lines-on-isolated-patterned-png-image_12219818.png");
    border: 1px solid rgba(8, 8, 8, 0.3);
    padding: 30px;
    background-size: cover;
}

#passContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
}

.passBox h1{
    color: white;
}

.passBox button{
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border: 0px;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: wheat;
}

.passAtributeContainer{
    width: 100%;
}

.passAtribute p{
    color: white;
    font-size: 1.3em;
}

.passBox strong{
    color: wheat;
}

.passBox h3{
    margin-top: 20px;
    font-weight: 100;
}

.passwordGenerator{
    margin: 10px;
    padding: 30px 10px;
    background: rgba(255, 255, 255, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 10px solid rgba(255, 255, 255, 0.3)
}

.passwordGenerator button{
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    height: 45px;
    border: 0px;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: wheat;
}

.logoContainer img{
    width: 125px;
    height: 100%;
    object-fit: contain;
}

.passInputContainer{
    display: flex;
    flex-direction: column;
}

.passInputContainer input,select{
    height: 35px;
    font-size: 1em;
    padding: 0px 10px;
}

@media (min-width: 760px) {
    .passBox{
        width: 47.9%;
    }
}

@media (min-width: 1020px) {

    .passwordGenerator{
        margin: 30px 10%;
        padding: 30px;
    }

    #passContainer{
        padding: 30px 10%;
    }

    .passInputBox{
        display: flex;
        justify-content: space-between;
    }

    .passInputContainer{
        width: 24%;
    }

    .passBox{
        display: flex;
        flex-direction: row;
        width: 31%;
    }
}
